body {
  background: #222222;
  font-family: "Itim", cursive;
  font-size: 1.2em;
  color: white;
  padding-top: 50px;
}
a {
  color: #fff59e;
}
h3 {
  float: right;
}
.logo {
  height: 200px;
  width: 25%;
}
span {
  font-style: italic;
}
.small {
  height: 40px;
  width: 15%;
}
.accordion *{
  background: #222222;
  font-family: "Itim", cursive;
  color: white;
}

.accordion .card-header, .card-header *{
  background: #fff59e;
  color: #222222;
  font-size: 1.2em;
}
.accordion input, .accordion textarea {
  background: white;
  color: #222222;
}
